# Librerie comuni per progetti Python
# Framework web
# flask==2.3.3
# django==4.2.7

# Analisi dati
# pandas==2.0.3
# numpy==1.24.3
# matplotlib==3.7.2

# Richieste HTTP
# requests==2.31.0

# Testing
pytest==7.4.2

# Utilità
# python-dotenv==1.0.0

# Per questo progetto specifico non servono librerie esterne
# Aggiungi qui le dipendenze quando ne avrai bisogno

#Flask per la web app
flask==3.0.3